# Claude Code
.claude/

# Environnements
.env
__pycache__/
*.pyc

# Dossiers
outputs/
.ipynb_checkpoints/

# Data brute (trop lourde / confidentielle pour git)
# Decommenter la ligne suivante pour exclure les donnees :
# data/

# Jupyter
*.ipynb

# VS Code
.vscode/

# Python env
*.egg-info/
.env/
venv/