# 🧠 Machine Learning
scikit-learn
xgboost
joblib

# 📊 Analyse de données
pandas
numpy
matplotlib
seaborn

# 🖥️ Interface Web
streamlit

# Interpretabilite
shap

# (optionnel) Barre de progression
tqdm
